---
import FarStudyApp from "../components/app/FarStudyApp.svelte";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="A local-first Astro and Svelte flashcard app for learning the Federal Acquisition Regulation."
		/>
		<title>Learn The FAR</title>
	</head>
	<body class="min-h-screen">
		<FarStudyApp client:load />
	</body>
</html>
